<div class="flag-wrapper">
  <span>ROUND {{ round() || 0 }}</span>
  <div class="flag">
    <img src="{{ flagSrc() }}" alt="{{ country()?.name || 'Flag' }}" />
    @if (gameService.showInvalidBanner()) {
      <div class="invalid-banner">
        <span>REMEMBER THIS ONE</span>
        <h1>{{ country()?.name }}</h1>
      </div>
    }
    @if (gameService.showValidBanner()) {
      <div class="valid-banner">
        <span>CORRECT</span>
        <h1>{{ country()?.name }}</h1>
      </div>
    }
  </div>
</div>
